body {
    background: #efefef;
}

#btn {
    width: 200px;
    height: 200px;
    background: #668ad8;
    border-radius: 50%;
    margin: 30px auto 0;
    text-align: center;
    line-height: 200px;
    color: #fedfe1;
    font-size: 42px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 10px 0 #627295;
    user-select: none;
}

#btn:hover {
    opacity: 0.9;
}

/* #btn.pressed {
    box-shadow: 0 5px 0 #627295;
    margin-top: 35px;
} */

#btn:active {
    box-shadow: 0 5px 0 #627295;
    margin-top: 35px;
}

#btn.patioglass {
    background: url("../img/patioglass.png");
    background-size: cover;
    color: greenyellow;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h1 {
    text-align: center;
}

#snsbtn {
    margin-top: 35px;
    text-align: center;
}

#twibtn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #fff;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    font-size: 14px;
}

#twibtn:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

footer {
    margin-top: 35px;
    text-align: center;
}

p#copyright {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
}
